body {
    font-family: Helvetica Neue, sans-serif, Arial;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
}

#header {
    background-color: #f2f2f2;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
}

#back-to-list {
    padding: 10px 20px;
    font-size: 32px;
    cursor: pointer;
    background-color: #f2f2f2;
    border: 0;
}

.news-container {
    margin-top: 60px; /* Space for the fixed header */
    max-width: 600px;
    width: 100%;
    padding: 20px;
}

.news-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px auto; /* Центрирование карточки */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 800px;
    background-color: white;
}

.news-cover {
    position: relative;
}

.news-cover img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.news-cover span {
    font-size: 20px;
    position: absolute;
    bottom: 3px;
    left: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
    width: (100% - 6px);
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: Arial;
}

.news-cover b {
    left: 15px;
    top: 10px;
    font-size: 48px;
    position: absolute;
    text-decoration: none;
    cursor: default;
    text-align: center;
}

.news-card .summary {
    padding: 20px;
    font-size: 16px;
    color: #555;
    font-family: serif, Arial;
}

.news-card .created {
    padding: 20px;
    font-size: 13px;
    color: #999;
    text-align: right;
}

.news-card .source-url {
    padding: 20px;
    font-size: 13px;
    color: #999;
}

.date-label {
    color: #262626;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    font-size: 26px;
    margin: 20px 0;
    color: #666;
}

.info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}